<div class="example-focus-monitor">
    <button cdkMonitorElementFocus (cdkFocusChange)="onCdkElementFocusChanged($event)">
        Focus Monitored Element {{originMessage}} 
    </button>
</div>
<div class="example-focus-monitor">
    <div cdkMonitorSubtreeFocus (cdkFocusChange)="onCdkSubtreeFocusChanged($event)">
        <p>Focus Monitored Subtree ({{subtreeMessage}})</p>
        <button>
            Child Button 1
        </button>
        <button>
            Child Button 2
        </button>            
    </div>
</div>